<%- include ('header') %>

<div class="row">
    <div class="col">
        <span>
            <img src="/assets/egyan_logo.png" class="square" alt="EGyan LMS Image" style="width:120px">
        </span>
        <span>
            <h4>Method <%=method%> is not defined for path <%=path%></h4>
        </span>
        <% if (userId !== undefined) { %>
            <h6>Click here to <a href="/courses/listCourses">go back</a></h6>
        <% } else { %>
            <h6>Click here to <a href="/">go back</a></h6>
        <% } %>
    </div>
</div>
<hr />
<hr />

<%- include ('footer') %>