<%- include ('header') %>

<div class="row">
    <div class="col">
        <span>
            <img src="/assets/egyan_logo.png" class="square" alt="EGyan LMS Image" style="width:120px">
        </span>
        <span>
            <h1>Welcome to the eLearning Portal</h1>
        </span>
        <h6>Login / SignUp to get started</h6>
    </div>
</div>
<hr />
<hr />

<div class="row">
    <%- include ('registerPage') %>
    <%- include ('loginPage') %>    
</div>

<%- include ('footer') %>
